.imageBox {
  width: 50%;
}

.bigImageBox {
  margin-bottom: 2rem;
}

.mainImage {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.sectionThumbs {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sectionThumbs img {
  width: 22%;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.activeThumb {
  /* filter: opacity(30%); */
  /* transition: all 1s; */
  animation-name: opacity;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.inactiveThumb {
  animation-name: back-opacity;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

@keyframes opacity {
  from {
    filter: none;
  }

  to {
    filter: opacity(30%);
  }
}

@keyframes back-opacity {
  from {
    filter: opacity(30%);
  }

  to {
    filter: none;
  }
}
