.imageBox {
  width: 50%;
}

.bigImageBox {
  margin-bottom: 2rem;
}

.mainImage {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.sectionThumbs {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sectionThumbs img {
  width: 22%;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.activeThumb {
  filter: opacity(30%);
  transition: all 1s;
}
