.quantityButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  max-width: 16rem;
  height: 5rem;
  background-color: hsl(223, 64%, 98%);
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 5rem;
  color: hsl(219, 9%, 45%);
  transition: all 0.4s;
}

.button:hover {
  transition: all 0.4s;
  color: hsl(26, 80%, 50%);
}

.quantity {
  font-weight: 700;
}
